@media (max-width: 930px) {
  .container {
    margin: 0;
    width: 100%;
    margin-top: 0;
  }
  .swiper-slide {
    margin-right: 0;
  }
}
@media (max-width: 768px){
    .about_product{
        width: 200px;
    }
    .swiper-slide{
        width: 200px;
        margin-right: 0;
    }
 
} 
