.allHeader {
    display: flex;
    justify-content: space-between;
}

.bread_crumc {
    display: flex;
    align-items: center;
    padding-top: 20px;

}

.breadcrumb {
    position: relative;
    top: 3.5px;
    left: 4px;
}

.a {
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    color: inherit;

}



.popular {
    color: gray;
    font-family: "Montserrat", sans-serif;
}

.drugs_card {
    background: transparent;
    border: 1px solid #d9dbe1;
    border-radius: 10px;
    margin-top: 24px;

}

.drugs_about {
    display: flex;
    width: 100%;
    gap: 20px;
}

.all_image {
    width: 80px;
    height: 80px;

}

.drugs_text {
    color: #333;
    display: -webkit-box;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    overflow: hidden;
    text-overflow: ellipsis;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-family: "Montserrat", sans-serif;
    margin: 0;
}

.drugs_priceIn,
.drugs_price {
    align-items: center;
    color: #3873d3;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    padding-top: 4px;
    font-family: "Montserrat", sans-serif;

}

.drugs_priceIn {
    font-weight: 600;
}

.add_button {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
    margin: 0;
}

.more_detail {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #91AAB826;
    color: #3873d3;
    font-family: "Montserrat", sans-serif;
    border: 0px solid #d9dbe1;
    border-radius: 10px;
    padding: 12px 16px;
    gap: 10px;
}

.add_text {
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    border: none;
    color: #3873D3;
}

.drugs_card {
    padding: 16px 14px;

}

.drugs_flex {
    display: flex;
    align-items: center;
}

.instructions {
    font-size: 30px;
    line-height: 0;
    line-height: 1;
}

.red {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}

.instruction_title {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.instruction_main-title {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    padding-top: 32px;
    font-family: "Montserrat", sans-serif;
    border-bottom: 1px solid #91AAb8;
    margin: 0;
}



.instruction_main-titlee {
    font-size: 28px;
    line-height: 33px;
    margin: 0;
    padding-top: 0;
    font-family: "Montserrat", sans-serif;

}



.drugsDetail-name {
    color: #333;
    display: -webkit-box;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-family: "Montserrat", sans-serif;
}

.drugsDetail-price {
    align-items: center;
    color: #3873d3;
    display: flex;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    font-family: "Montserrat", sans-serif;

}

.drugsButton-about {
    color: #3873d3;
    align-items: center;
    background-color: #3873d3;
    border: none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    padding: 12px 16px;
    position: relative;
    text-decoration: none;
    z-index: 0;
}

.drugsButton-about:hover {
    background-color: #285bb8;
    /* orqasi boshqa rangga o‘zgaradi */
    color: #fff;
    /* matn rangi oq qoladi */
    transform: scale(1.05);
    /* hover bo‘lganda biroz kattalashadi */
    transition: all 0.3s ease;
    /* o‘tish yumshoq bo‘lsin */
}

.drugsAbout__info {
    font-size: 17px;
    color: #333333;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;

}

.drugsBrand-about {
    display: grid;
    grid-template-columns: 200px auto;
    /* chap ustun kengligi 200px */
    margin-bottom: 8px;
    color: #91aab8;
    flex: 1;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    min-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: "Montserrat", sans-serif;

}

.character {
    margin-left: 120px;
    color: #333;
    flex: 2;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    min-width: 180px;
    font-family: "Montserrat", sans-serif;
    word-wrap: break-word;
}

.pharmacy_count {
    font-size: 17px;
    font-family: "Montserrat", sans-serif;
    font-weight: 550;
    line-height: 150%;
    overflow: hidden;
    margin-top: -5px;

}

.page_reminder {
    display: flex;
    align-items: center;
    gap: 15px;
    font-family: "Montserrat", sans-serif;
    overflow: hidden;
    font-size: 15px;
    font-weight: 100;
    margin-top: 24px;

}

.nav-link {
    text-decoration: none;
    color: inherit;

}

.gray {
    font-weight: 14px;
    color: #91AAb8;
    font-family: "Montserrat", sans-serif;
    font-weight: 380;
}

.drug-information {
    font-weight: 450;
    line-height: 150%;
}

.offer-instruction__item-text,
.panel-body,
.instruction_p {
    color: #333 !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 470 !important;
    line-height: 150% !important;
    font-family: "Montserrat", sans-serif;

}

.instruction_way {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 15px;
    font-weight: 450;
    line-height: 150%;
    padding-top: 12px;
    font-family: "Montserrat", sans-serif;
    border-bottom: 1px solid #91AAb8;
    padding-top: 12px;
    padding-bottom: 12px;
    cursor: pointer;
}

/* .bottom_line {
    border-bottom: 1px solid #91AAb8;
} */

.no_info {
    font-size: 17px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

.card {
    display: flex;
    /* justify-content: space-between; */
}

.filter_button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    background-image: linear-gradient(270.12deg, #3f74d1 .13%, #5b96e7 99.94%);
    padding: 0px 15px;

}

.one {
    background-color: red;
    border-radius: 50%;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    padding: 2px 6px;
    position: absolute;
    right: -5px;
    top: -4px;
    z-index: 1;
}

.button_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

}

.buttonIn_name {
    font-size: 14px;
    overflow: hidden;
    font-family: "Montserrat", sans-serif;
    font-weight: 550;
    color: #fff;
}

.buttonIn_img {
    height: 20px;
    margin-right: 10px;
    width: 20px;
}

.country_druge {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.inUzbek {
    display: flex;
    align-items: center;
    justify-content: center;
}

.country_druge {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px #00000014;
    margin-top: 20px;
    text-align: center;
    font-family: "Montserrat", sans-serif;

}

.search_drugs {
    color: #91aab8;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    line-height: 1%;

}

.onlyUzb {
    color: #3873D3;
    align-items: center;
    margin-left: 5px;
    font-weight: 550;
}

.all_button {
    text-decoration: none;
}

.stre_imgUrl {
    width: 93px;
    padding-left: 13px;
    padding-top: 13px;
    border-radius: 22px;

}

table {
    display: none;
}

.threeP {
    font-size: 14px;
    color: #333333;
    font-weight: 450;
    line-height: 140%;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

.threeP_time {
    font-size: 13px;
    color: #333333;
    font-weight: 450;
    line-height: 140%;
    margin: 0;
    font-family: "Montserrat", sans-serif;

}

.storePrice {
    color: #3873d3;
    font-size: 15px;
    font-style: normal;
    font-weight: 650;
    line-height: 100%;
    padding-left: 22px;
    padding-top: 8px;
    font-family: "Montserrat", sans-serif;
    margin: 0;
}

.pharmasyName {
    font-size: 17px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    line-height: 100%;
    margin: 0;
    padding-left: 22px;
    padding-top: 15px;
}




.cheapNear {
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding: 4px;
    background-color: #f0f0f0;
    border-radius: 8px;
}

.cheap,
.near {
    align-items: center;
    justify-content: center;
    font-style: normal;
    cursor: pointer;
    flex: 1;
    font-size: 15px;
    font-weight: 500;
    height: 42px;
    line-height: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-overflow: ellipsis;
    transition: all .4s;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    white-space: nowrap;
    border-radius: 8px;
    border: none;
}

.cheap,
.near {
    background-color: transparent;
    color: #000000de;
}

.cheap.active,
.near.active {
    background-color: white;
    color: #000000de;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.drugsInfo_share {
    display: flex;
    align-items: center;
    background: #91aab826;
    border-radius: 10px;
    color: #3873d3;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    margin-right: 24px;
    border: none;
    padding: 12px 16px;
}

.p {
    margin: 0;
    padding: 0;
}

.justImg {
    /* margin-left: -3px; */
    /* margin-top: 3px; */
    /* height: max-content; */
    /* width: max-content; */
    margin-right: 8px;
    margin-bottom: 2px;

}

.greenDot {
    position: absolute;
    right: 0px;
    bottom: 4px;
    width: 12px;
    height: 12px;
    background-color: #4caf50;
    border: 2px solid white;
    border-radius: 50%;
}

.imgDot {
    position: relative;
    height: 120px;
}

.twoBorder {
    border: 1px solid rgba(145, 170, 184, .15);
    border-radius: 6px;
    color: #000;
    /* padding-top: 16px;
    padding-inline: 22px; */
}

.product-info {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #f5f5f5;
    padding: 10px 16px;
}

.drugs_wrapper {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;

}

.storeLocation {
    padding-left: 38px;
    padding-top: 6px;

}

.storeTime {
    display: flex;
    gap: 15px;
    padding-top: 18px;
    padding-inline: 22px;
}

.storeInfo {
    padding: 22px 16px 0px 22px;
}

.drugFlex_img {
    width: 200px;

}


.drug-information,
.drugs_wrapper {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.drugs_wrapper {
    padding-left: 10px;
    margin: 0;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #d7d7d7;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

.language_icon {
    font-size: 17px;
}



.region_modal {
    /* position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 1000;
    width: 320px;
    max-height: 80vh;
    overflow-y: auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    border-radius: 8px; */

    max-width: 500px;
    background-color: #fff;
    box-shadow: 0 50px 150px #0d1c3540;
    min-width: 320px;
    width: 100%;
    border-radius: 10px;
}


.modal_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.modal_header h3 {
    color: #333;
    font-size: 22px;
    margin: 0;
    font-weight: 450;
}

.modal_overlay {
    align-items: center;
    background-color: #00000026;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99;
}

.close_btn {
    align-items: center;
    display: flex;
    font-size: 34px;
    height: 40px;
    justify-content: center;
    width: 40px;
    background: #fff;
    border: 1px solid #d9dbe1;
    color: #333 !important;
    border-radius: 10px;
    padding: 0 12px;
}

.regionItem_wrapper {
    margin-bottom: 20px;
    max-height: 75vh;
    overflow: auto;
    padding-inline: 20px;
}

.in_regionItem {
    height: 100%;
    max-height: 65vh;
}

.uzbekistan {
    align-items: center;
    cursor: pointer;
    display: flex;
    margin-bottom: 8px;
}

.uzbekistan span {
    margin-left: 8px;
}

input[type="checkbox"] {
    cursor: pointer;
    height: 20px;
    width: 20px;
}

.viloyat {
    align-items: center;
    cursor: pointer;
    display: flex;
    margin-bottom: 8px;
}

.viloyat span {
    margin-left: 8px;
}

.viloyat img {
    width: 16px;
    height: 16px;
}

.btn_viloyat {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0 12px;
    height: 42px;
}

.region_actions {
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    padding-inline: 20px;
    padding-bottom: 20px;
}

.reset_btn {
    background: #ff5252;
}

.confirm_btn {
    background-image: linear-gradient(270.12deg, #3f74d1 .13%, #5b96e7 99.94%);
    margin-left: 20px !important;
}

.confirm_btn,
.reset_btn {
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    height: 42px;
    padding: 0 12px;
}

.region_item {
    display: flex;
    align-items: center;
}

.drugsearch_div {
    font-size: 18px;
}

.show_region {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px #00000014;
    margin-top: 20px;
    padding: 10px 0;
    text-align: center;
}

.language_switcher {
    position: relative;
    height: 38px;
}

.language_switcher .ru_icon {
    transition: all 0.3s ease;
}

.filter-modal {
    align-items: center;
    background-color: #00000026;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
}

.filter-content {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 12px #0000001a;
    max-width: 450px;
    padding: 20px;
    width: 100%;
}


.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 24px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #2196f3;
}

input:checked+.slider:before {
    transform: translateX(26px);
}

.the_checkbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block: 10px;
}

.filterClose_btn {
    cursor: pointer;
    font-size: 34px;
    background: #fff;
    border: 1px solid #d9dbe1;
    /* color: #333 !important; */
    font-weight: 500;
    height: 42px;
    padding: 0 12px;
    border-radius: 10px;
    align-items: center;
}
